{% extends "base.html" %}

{% block content %}
    
    <h1 class="border-bottom">Tooth Fracture Regenerator</h1><br><br>
    <h3><strong>Steps:</strong></h3>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action " data-toggle="modal" data-target="#OneModal">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step One</h5>
          </div>
          <p class="mb-1">Provide it  with a Fracture Image</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#TwoModal"> 
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step Two</h5>
          </div>
          <p class="mb-1">Provide it a Mask Image</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#OptModal">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">(Optional) Step Three</h5>
            </div>
            <p class="mb-1">Fine Tune The Radius Slider If Nessesary</p>
          </a>
        <a href="#" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Step Four</h5>
          </div>
          <p class="mb-1">Hit the submit button</p>
        </a>
      </div>  <br><br>
      
      <div class="modal fade" id="OneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Step One</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Under the Input Image Section You Will Have to Upload the Fracture Tooth Image.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 


      <div class="modal fade" id="TwoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Step Two</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Under the Mask Image Section You Will Have to Upload the Mask Tooth Image.
              <strong>NOTE: A Mask Image is a seperate Image where you will Have mask out the region of interest.</strong>
              For Example:
              <img src="http://localhost:8000/media/regeneration_step.png">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 

      <div class="modal fade" id="OptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Step One</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                If you change the range slider it will sligtly give out more realistic results.
                <strong>NOTE: A single Value Won't work for every Image.</strong>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class = "shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card">
            <div class="card-header">
        <h2>Input Image</h2></div>
        <div class="card-body">
        <input type="file" name='document_input_image' required><br><br>
         </div>
        </div>
    
</div>
<div class = "shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-header">

        <h2>
            Upload Mask Image   
        </h2></div>
        <div class="card-body">
            <h4>Input Radius Slider</h4>
        <input type="range" class="custom-range" min = 1 max = 1000 id="customRange1" name="inpainting_value">
        <p id = 'demo' name='slider_value'></p>
  
        <script>
            var slider = document.getElementById("customRange1");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
            slider.oninput = function() {
                output.innerHTML = this.value;
            }
        </script>
        <input type="file" name='document_input_mask' required><br><br>
    </div>
</div>
</div> 
<button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button><br><br>
        <!-- <input type="submit" value='submit'> -->

    </form>

    {% if URL_Input %}
    <figure class="figure">
        <img src= {{URL_Input}}>
        <figcaption class="figure-caption">The Input Image</figcaption>
    </figure><br><br>

    <figure class="figure">
        <img src= {{URL_Mask}}>
        <figcaption class="figure-caption">The Mask Image</figcaption>
    </figure><br><br>

    <figure class="figure">
        <img src= {{URL_Output}}>
        <figcaption class="figure-caption">The Generated Image</figcaption>
    </figure><br><br>

    {% else %}
        <small></small>
     
    {% endif %} 
    <h2  class="border-bottom">FAQ</h2>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Why Do I Get A 404/403 Page?
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
               It might be because of the Mask Image And The Input Image Are not of the Same Size.     
            </div>
          </div>
        </div>
        <!-- <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Collapsible Group Item #2
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Collapsible Group Item #3
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div> -->
{% endblock %}